@model IndexViewModel<SaleSoft.Models.EF.Soft>;
@{
    ViewData["Title"] = "Софт";
}
<table class="responsive-table">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Кол-во</th>
            <th>Операции</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Des</td>
                <td>@item.Price</td>
                <td>@item.Count</td>
                <td>
                    <a href="~/Softs/Update/@item.Id" class="my-icons"> <i class="material-icons ">edit</i></a>
                    <a href="#" onclick="Delete('@item.Id')" class="my-icons"> <i class="material-icons my-icons">clear</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row center-align">
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageViewModel.TotalPages; i++)
        {
            string temp = (i == Model.PageViewModel.PageNumber) ? "active" : "";
            <li class="page-item @temp">
                <a class="page-link" href="/Softs?page=@i">@i</a>
            </li>
        }
    </ul>
</div>
<div class="row center-align">
    <a class="waves-effect waves-light btn" href="~/Softs/Create">Добавить</a>
</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script>
       function Delete(id){
        var r = confirm("Вы действительно хотите удалить?");
        if (r == true) {

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete", "Softs")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl ="/Softs/Index";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        }
    }
    </script>
}

